ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: palevioletred;
    color: white;
}

h1 {
    background-color: grey;
    color: white;
}
.img{
    background-color: aliceblue;
    height: 250px;
    width: 300px;
}